[Unit]
Description=Modbus to MQTT gateway
After=network.target

[Service]
ExecStart=/bin/modmqttd --config=/etc/modmqttd/config.yaml

[Install]
WantedBy=multi-user.target
