name: docker build

on:
  push:
    branches:
      - "ci_tests"
    paths-ignore:
      - 'README.md'
      - '.github/FUNDING.yml'
      - 'LICENSE'
      - 'docker-compose.yml'
      - 'modmqttd.service'
      - 'modmqttd/config.template.yaml'
      - 'buildtests/*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: true
      matrix:
        platform:
          - linux/amd64
          - linux/arm/v6
          - linux/arm/v7
          - linux/arm64
          - linux/i386
    steps:
      -
        name: Prepare
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >>"${GITHUB_ENV}"
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push by digest
        id: build
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: ${{ matrix.platform }}
          outputs: type=image,push=false
          build-args: |
            MQM_TEST_TIMING_FACTOR=10
